.main-content {
    width: 100%;
    margin-top: 20px;

    &__main-block{
        height: 320px;
        overflow: hidden;

        &_content-wrapper-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .img-content-head-1 {
                transition: transform .2s;
                position: absolute;
                bottom: 130px;
                font-size: 22px;
                font-family: "PlayfairDisplay";
                color: rgb( 249, 249, 249 );
                font-weight: bold;
                line-height: 0.636;
            }
            
            .img-content-text {
                transition: transform .2s;
                bottom: 100px;
                position: absolute;
                font-size: 12px;
                font-family: "Roboto";
                color: rgb( 237, 237, 237 );
                line-height: 1.167;
            }
            
            .img-btn-1 {
                transition: transform .2s;
                position: absolute;
                bottom: 50px;
                font-size: 14px;
                font-family: "Roboto";
                color: rgb( 249, 249, 249 );
                line-height: 1;
                background: none;
                padding: 8px 20px;
                border: 1px solid rgb( 249, 249, 249 );
                cursor: pointer;
                outline: none;

                &:hover {
                    background-color: black;
                }
                
            }
        }

        .img-block-1 {
            height: 100%;	
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%), url('../../../assets/img/new_arrival.png') center center no-repeat;
            background-size: cover;
            width: 100%;
            transition: transform .2s;

            &:hover {
                transform: scale(1.1);
            }
        }

        .img-block-2 {
            height: 320px;
            width: 100%;
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%), url('../../../assets/img/tuxedo.png') center center no-repeat;
            background-size: cover;
            transition: transform .2s;

            &:hover {
                transform: scale(1.1);
            }
        }

        .img-block-3 {
            height: 320px;
            width: 100%;
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%), url('../../../assets/img/sweater.png') center center no-repeat;
            background-size: cover;
            transition: transform .2s;

            &:hover {
                transform: scale(1.1);
            }
        }

        .img-block-6 {
            height: 320px;
            width: 100%;
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%), url('../../../assets/img/t_shirt.png') center center no-repeat;
            background-size: cover;
            transition: transform .2s;

            &:hover {
                transform: scale(1.2);
            }
        }
        
        &_content-wrapper-2 {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-end;
            padding-bottom: 50px;

            .img-content-head-2 {
                transition: transform .2s;
                font-size: 18px;
                font-family: "PlayfairDisplay";
                color: rgb( 249, 249, 249 );
                font-weight: bold;
                line-height: 0.636;
            }
            
            .img-btn-2 {
                transition: transform .2s;
                font-size: 14px;
                font-family: "Roboto";
                color: rgb( 249, 249, 249 );
                line-height: 1;
                background: none;
                cursor: pointer;
            }
        }

        .img-block-4 {
            height: 320px;
            width: 100%;
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%), url('../../../assets/img/shoes.png') center center no-repeat;
            background-size: cover;
            transition: transform .2s;

            &:hover {
                transform: scale(1.1);
            }
        }

        .img-block-5 {
            height: 320px;
            width: 100%;
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%), url('../../../assets/img/glasses.png') center center no-repeat;
            background-size: cover;
            transition: transform .2s;

            &:hover {
                transform: scale(1.1);
            }
        }
        
        .img-block-7 {
            height: 320px;
            width: 100%;
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%), url('../../../assets/img/watches.png') center center no-repeat;
            background-size: cover;
            transition: transform .2s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}