.offers {
    margin-top: 50px;
    display: flex;
    flex-direction: row;

    &:before, &:after {
        content: "";
        flex: 1 1;
        border-bottom: 1px solid rgb(229, 228, 226);
        margin: auto;
    } 

    .title{
        border: 1px solid rgb(229, 228, 226);
        padding: 8px 20px;
        color: rgb(229, 228, 226);
        font-size: 20px;
        font-family: "PlayfairDisplay";
        color: rgb( 63, 61, 61 );
        line-height: 0.7;
    }
}

.view {
	margin-top: 50px;
	position: relative;
}

.view > img {
	cursor: pointer;
	width: 100%;
	height: 210px;
}

.view > div{
	cursor: pointer;
	height: 80px;
	padding-top: 20px;
	border: 1px solid rgb(229, 228, 226);
	color: rgb(145, 144, 144);
	font-size: 17px;
    font-family: "PlayfairDisplay";
    line-height: 1.5;
}

.view > figure{
	cursor: pointer;
	border: 1px solid rgb(229, 228, 226);
	color: rgb(145, 144, 144);
	font-size: 17px;
    font-family: "PlayfairDisplay";
    line-height: 1.5;
}

.view > figure > img {
	height: 210px;
}

.view > figure > figcaption {
	height: 80px;
	color: rgb(145, 144, 144);
	font-size: 17px;
    font-family: "PlayfairDisplay";
    padding-top: 20px;
    line-height: 1.5;

}

.view > div >span {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(145, 144, 144);
    line-height: 1.5;
}

.block{
    position:absolute;
    left:40%;
    top:30%;
    color: white!important;
    cursor: pointer!important;
    font-size: 16px;
  	font-family: "PlayfairDisplay";
    padding:5px;
    display:none;
    font-size: bold;
}

.view:hover .block{
    display:block;
}

.view:hover .text-center{
    background-color: rgb(229, 228, 226);
}
