$color-light-grey: rgb(229, 228, 226);
$color-grey: rgb(145, 144, 144);

.offers {
    margin-top: 50px;
    display: flex;
    flex-direction: row;

    &:before, &:after {
        content: "";
        flex: 1 1;
        border-bottom: 1px solid $color-light-grey;
        margin: auto;
    } 

    &_title{
        border: 1px solid $color-light-grey;
        padding: 8px 20px;
        color: $color-light-grey;
        font-size: 20px;
        font-family: "PlayfairDisplay";
        color: rgb( 63, 61, 61 );
        line-height: 0.7;
    }
}

.view {
	margin-top: 50px;
    position: relative;

    &:hover .block{
        display:block;
    }

    &:hover .text-center{
        background-color: $color-light-grey;
    }

    img {
        cursor: pointer;
        width: 100%;
        height: 210px;
    }

    div {
        cursor: pointer;
        height: 80px;
        padding-top: 20px;
        border: 1px solid $color-light-grey;
        color: $color-grey;
        font-size: 17px;
        font-family: "PlayfairDisplay";
        line-height: 1.5;

        span {
            font-size: 15px;
            color: $color-grey;
            line-height: 1.5;
        }
    }    

    figure{
        cursor: pointer;
        border: 1px solid $color-light-grey;
        color: $color-grey;
        font-size: 17px;
        font-family: "PlayfairDisplay";
        line-height: 1.5;

        img {
            height: 210px;
        }

        figcaption {
            height: 80px;
            color: $color-grey;
            font-size: 17px;
            font-family: "PlayfairDisplay";
            padding-top: 20px;
            line-height: 1.5;
        
        }

        a {
            position:absolute;
            left: 43%;
            top: 30%;
            color: white;
            font-size: 16px;
            font-family: "PlayfairDisplay";
            padding:5px;
            display:none;
            font-size: bold;
        }
    }
}
