$color-white: rgb( 249, 249, 249 );
$color-black: rgba(0, 0, 0, 0);

.main-content {
    width: 100%;
    margin-top: 20px;

    &__main-block{
        height: 320px;
        overflow: hidden;

        &_content-wrapper-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .img-content-head-1 {
                transition: transform .2s;
                position: absolute;
                bottom: 130px;
                font-size: 22px;
                font-family: "PlayfairDisplay";
                color: $color-white;
                font-weight: bold;
                line-height: 0.636;
            }
            
            .img-content-text {
                transition: transform .2s;
                bottom: 100px;
                position: absolute;
                font-size: 12px;
                color: $color-white;
                line-height: 1.167;
            }
            
            .img-btn-1 {
                transition: transform .2s;
                position: absolute;
                bottom: 50px;
                font-size: 14px;
                color: $color-white;
                line-height: 1;
                background: none;
                padding: 8px 20px;
                border: 1px solid $color-white;
                cursor: pointer;
                outline: none;

                &:hover {
                    background-color: black;
                }
                
            }
        }

        .img-block {
            height: 100%;
            width: 100%;
            transition: transform .2s;

            &:hover {
                transform: scale(1.1);
            }
        }
        
        &_content-wrapper-2 {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-end;
            padding-bottom: 50px;

            .img-content-head-2 {
                transition: transform .2s;
                font-size: 18px;
                font-family: "PlayfairDisplay";
                color: $color-white;
                font-weight: bold;
                line-height: 0.636;
            }
            
            .img-btn-2 {
                transition: transform .2s;
                font-size: 14px;
                color: $color-white;
                line-height: 1;
                background: none;
                cursor: pointer;
            }
        }
    }
}