<div class="container text-center">
    <h3>SWEATER</h3>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
    <section>
        <div class="container">
            <div class="row">
                <main-block  *ngFor="let item of data" class="col-lg-6 col-sm-12"
                [header]="item"
                [film]="item">
                </main-block>
            </div>  
        </div>
    </section>
    <special-offers></special-offers>
</div>