<header>
  <div class="container-fluid contact-info">
    <div class="row">
      <div class="container">
        <div class="contact-info__contact-text">Help</div>
        <div class="contact-info__contact-text">Contact</div>
        <div class="contact-info__contact-text">Delivery Information</div>
        <div class="contact-info__contact-text">Call us : 032 2352 782</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 logo">
        <img src="assets/img/logo.png" alt="logo">
      </div>
      <div class="col-lg-6 col-md-12 login-row">
        <div class="row">
          <div class="col-lg-12">
            <button class="login-row__login-btn">LOGIN</button>
            <button class="login-row__register-btn">REGISTER</button>
            <button class="login-row__checkout-btn">CHECKOUT</button>
            <div class="login-row__balance"><img src="assets/img/cart.png" alt="cart"> My Cart(0):$0</div>
          </div>
        </div>
        <div class="col-lg-12 search">
          <form class="search__form">
            <input type="search" class="search__form_input" type="text" placeholder="Search">
            <input type="submit" class="search__form_btn" value="">
          </form>
        </div>
      </div>
    </div>
  </div>  
</header>
<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <cm-nav></cm-nav>
</div>
<router-outlet></router-outlet>
<footer>
  <div class="container-fluid footer">
    <div class="row">
      <div class="container">
        <div class="row footer-row">
          <div class="col-lg-6 col-md-12 footer-row__follow">
            FOLLOW US ON
            <a href="#"><img class="footer-row__social-img" src="assets/img/facebook.png" alt="facebook"></a>
            <a href="#"><img class="footer-row__social-img" src="assets/img/twitter.png" alt="twitter"></a>
            <a href="#"><img class="footer-row__social-img" src="assets/img/google.png" alt="google"></a>
            <a href="#"><img class="footer-row__social-img" src="assets/img/instagram.png" alt="instagram"></a>
            <a href="#"><img class="footer-row__social-img" src="assets/img/pinterest.png" alt="pinterest"></a>
          </div>
          <div class="col-lg-6 col-md-12">
            <form class="footer-row__form">
              <input type="text" class="footer-row__email-input" type="text" placeholder="Enter your email to oin our newsletter">
              <button type="submit" class="footer-row__join-btn">CHECKOUT</button>
            </form>
          </div>
        </div>  
      </div>
    </div>
  </div>    
  <div class="container">
    <div class="row footer-row">
      <div class="col-lg-2 footer-row__info">
        <div class="footer-row__info_header">CUSTOMER CARE</div>
        <div class="footer-row__info_text">Help Center</div>
        <div class="footer-row__info_text">FAQ</div>
        <div class="footer-row__info_text">How To Buy</div>
        <div class="footer-row__info_text">Delivery</div>
      </div>
      <div class="col-lg-2 footer-row__info">
        <div class="footer-row__info_header">ABOUT US</div>
        <div class="footer-row__info_text">Our Stories</div>
        <div class="footer-row__info_text">Press</div>
        <div class="footer-row__info_text">Career</div>
        <div class="footer-row__info_text">Contact</div>
      </div>
      <div class="col-lg-2 footer-row__info">
        <div class="footer-row__info_header">MY ACCOUNT</div>
        <div class="footer-row__info_text">Login</div>
        <div class="footer-row__info_text">My Cart</div>
        <div class="footer-row__info_text">Older History</div>
        <div class="footer-row__info_text">Payment</div>
      </div>
      <div class="col-lg-6 footer-row__stories">
        <div class="footer-row__stories_header">
          <span class="footer-row__stories_marg">OUR STORIES</span>
          <button class="footer-row__stories_btn">SOLO</button>
          <button class="footer-row__stories_btn">BOGOR</button>
        </div>
        <div class="footer-row__stories_text"><img src="assets/img/address.png" alt="adress"> Jl. Haji Muhidin, Blok G no.69</div>
        <div class="footer-row__stories_text"><img src="assets/img/footer_phone.png" alt="phone"> 025-2839341</div>
        <div class="footer-row__stories_text"><img src="assets/img/email.png" alt="email"> solo@gretong.com</div>
      </div>
      <div class="col-lg-6 policy"><span class="policy__year">© 2015 Gretongan</span><span class="policy__terms">Terms an Condititon</span><span class="policy__terms">Privacy Policy</span></div>
    </div>
  </div>
</footer>
