@import "../styles.scss";

.contact-info {
	background-color: rgb(37, 37, 37);
	color: white;
    height: 30px;
    
    &__contact-text {
        display: inline;
        padding-left: 10px;
        font-size: 14px;
        color: rgb( 255, 250, 250 );
        line-height: 2.3;

        &:first-child {
            padding-left: 0px;
        }

        &:last-child {
            float: right;
        }
    }
}

.logo {
	padding-top: 40px;
	float: left;
}

.login-row {
	margin-top: 25px;
    
    &__login-btn {
        font-size: 12.691px;
        color: $color-dark-grey;
        line-height: 1.103;
        background-color: white;
        border: 1px solid $color-light-grey;
        padding: 8px 20px;
        margin-right: 15px;
        cursor: pointer;
        float: left;
        outline: none;
    }

    &__register-btn {
        font-size: 12.691px;        
        color: $color-dark-grey;
        line-height: 1.103;
        background-color: white;
        border: none;
        padding: 8px 20px;
        cursor: pointer;
        float: left;
        outline: none;
    }

    &__balance {
        display: inline;
    }

    &__checkout-btn {
        margin-left: 15px;
        font-size: 12.691px;    
        color: white;
        line-height: 1.103;
        background-color: black;
        border: none;
        padding: 8px 20px;
        cursor: pointer;
        float: right;
        outline: none;
    }
}

.search {
    border: 1px solid $color-light-grey;
    margin-top: 15px;
    height: 40px;
    padding-right: 0px;
    padding-left: 0px;

    &__form {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;

        &_btn {
            background: url(../assets/img/search.png) no-repeat 50% 50%;
            cursor: pointer;
            margin-right: 5px;  
            max-height: 3em;
            font-size: 1.1em;
            letter-spacing: .2em;
            border: none;
            padding: 0.35em 0.75em;
            cursor: pointer;
            outline:none;
        }

       &_input {
            height: 35px;
            width: 100%;
            border: none;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0.35em 0.75em;
            border: none;
            font-size: 1.1em;
            text-decoration: none;
            line-height: normal;
            max-height: 3em;
            flex: 2 0 250px;
            outline:none;
        }
    }
}

.footer {
	margin-top: 90px;
	border-bottom: 1px solid $color-light-grey;
	border-top: 1px solid $color-light-grey;
}

.footer-row {
	padding-top: 15px;
    padding-bottom: 15px;

    &__form {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
    }

    &__follow {
        padding-top: 10px;
        margin-bottom: 10px;
    }
    
    &__social-img {
        margin-left: 10px;
    }

    &__email-input {
        width: 75%;
        height: 40px;
        padding-left: 20px;
        margin-top: 1px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0.35em 0.75em;
        font-size: 1.1em;
        text-decoration: none;
        line-height: normal;
        max-height: 3em;
        flex: 2 0 250px;
        outline:none;
    }
    
    &__join-btn {
        margin-left: 15px;
        font-size: 12.691px;    
        color: white;
        background-color: black;
        border: none;
        padding: 8px 20px;
        cursor: pointer;
        height: 40px;
        float: right;
        outline: none;
    }

    &__info {
        margin-top: 40px; 

        &_header {
            font-size: 15px;
            font-family: "PlayfairDisplay";
            color: $color-dark-grey;
            line-height: 0.933;
            text-align: left;
            margin-bottom: 15px;
        }
        
        &_text {
            font-size: 13px;            
            color: $color-dark-grey;
            line-height: 1.846;
        }
    }
    
    &__stories {
        margin-top: 35px;

        &_header {
            font-size: 15px;
            font-family: "PlayfairDisplay";
            color: $color-dark-grey;
            line-height: 0.933;
            text-align: left;
            margin-bottom: 15px;
        }

        &_marg {
            margin-right: 10px;
        }

        &_btn{
            padding: 5px 16px;
            font-size: 13px;          
            color: $color-dark-grey;
            border: 1px solid $color-light-grey;
            background-color: white; 
            margin-left: 10px;
            cursor: pointer;
            outline: none;

            &:hover {
                background-color: $color-light-grey; 
            }
        }

        &_text {
            font-size: 13px;
            color: $color-dark-grey;
            line-height: 1.846;
        }
    }
}

.policy {
    margin-top: 40px;
    
    &__year {
        margin-right: 20px;
        font-size: 13px;      
        color: $color-dark-grey;
    }
    
    &__terms {
        margin-left: 20px;
        font-size: 13px;        
        color: $color-dark-grey;
    }
}
