$color-light-grey: rgb(228, 229, 228);

.nav-block {
	margin-top: 30px;
	background-color:  rgb(245, 245, 245);
	margin-bottom: 20px;

	&__nav-item {
		color: black;
		cursor: pointer;
		padding: 12px 25px;
		outline:none;

		&:hover {
			background-color: $color-light-grey;
		}

		&_nav-link {
			color: black;
		}
	}
}

.active {
	background-color: $color-light-grey;
}