  <!--The content below is only a placeholder and can be replaced.-->
  <section>
    <div class="container">
      <cm-nav></cm-nav>
      <div class="row">
        <div class="col-lg-6 col-sm-12 marg-top main-content">
          <div>
            <div class="img-block-1 content-wrapper">
              <div class="img-content-head-1">
                NEW ARRIVALS
              </div>
              <div class="img-content-text">
                REVIVE YOUR WARDROBE WITH CHIC KNITS
              </div>
              <button class="img-btn-1">TAKE A LOOK</button>
              </div>
          </div>
        </div>
        <div  class="col-lg-6 col-sm-12 marg-top main-content">
          <div>
              <div class="img-block-2 content-wrapper">
              <div class="img-content-head-2">
                TUXEDO
              </div>
              <div class="img-content-text">
                REVIVE YOUR WARDROBE WITH CHIC KNITS
              </div>
              <button class="img-btn-2">SHOP NOW</button>
            </div>  
          </div>
        </div>
        <div class="col-lg-8 col-sm-12 marg-top main-content">
          <div>
              <div class="img-block-3 content-wrapper">
              <div class="img-content-head-3">
                SWEATER
              </div>
              <div class="img-content-text-3">
                REVIVE YOUR WARDROBE WITH CHIC KNITS
              </div>
              <button class="img-btn-3">SHOP NOW</button>
            </div>  
          </div>  
        </div>
        <div  class="col-lg-4 col-sm-12 marg-top main-content">
          <div>
            <div class="img-block-4 content-wrapper-2">
              <div class="img-content-head-4">
                TREKKING SHOES
              </div>
              <a class="img-btn-4"><img src="assets/img/right-arrow.png" alt="right-arrow"></a>
            </div>  
          </div>  
        </div>
        <div  class="col-lg-4 col-sm-12 marg-top main-content">
          <div>
            <div class="img-block-5 content-wrapper-2">
              <div class="img-content-head-4">
                CASUAL GLASSES
              </div>
              <a class="img-btn-4"><img src="assets/img/right-arrow.png"  alt="right-arrow"></a>
            </div>    
          </div>  
        </div>
        <div  class="col-lg-4 col-sm-12 marg-top main-content">
          <div>
            <div class="img-block-6 content-wrapper">
              <div class="img-content-head-6">
                FRESH LOOK T-SHIRT
              </div>
              <button class="img-btn-6">SHOP NOW</button>
            </div>
          </div>  
        </div>
        <div  class="col-lg-4 col-sm-12 marg-top main-content">
          <div>
            <div class="img-block-7 content-wrapper-2">
              <div class="img-content-head-4">
                ELEGANT WATCHES
              </div>
              <a class="img-btn-4"><img src="assets/img/right-arrow.png"  alt="right-arrow"></a>
            </div>
          </div>  
        </div>
      </div>  
    </div>
  </section>
  <special-offers></special-offers>