  <!--The content below is only a placeholder and can be replaced.-->
  <section>
    <div class="container">
      <cm-nav></cm-nav>
      <div class="row">
        <main-content class="col-lg-6 col-sm-12"
          [header]="'NEW ARRIVALS'"
          [text]="'REVIVE YOUR WARDROBE WITH CHIC KNITS'"
          [btn]="'TAKE A LOOK'">
        </main-content>
        <main-content class="col-lg-6 col-sm-12"
          [header]="'TUXEDO'"
          [text]="'REVIVE YOUR WARDROBE WITH CHIC KNITS'"
          [btn]="'SHOP NOW'">
        </main-content>
        <main-content class="col-lg-8 col-sm-12"
          [header]="'SWEATER'"
          [text]="'REVIVE YOUR WARDROBE WITH CHIC KNITS'"
          [btn]="'SHOP NOW'">
        </main-content>
        <main-content class="col-lg-4 col-sm-12"
          [header]="'TREKKING SHOES'">
        </main-content>
        <main-content class="col-lg-4 col-sm-12"
          [header]="'CASUAL GLASSES'">
        </main-content>
        <main-content class="col-lg-4 col-sm-12"
          [header]="'FRESH LOOK T-SHIRT'"
          [btn]="'SHOP NOW'">
        </main-content>
        <main-content class="col-lg-4 col-sm-12"
          [header]="'ELEGANT WATCHES'">
        </main-content>
      </div>  
    </div>
  </section>
  <special-offers></special-offers>